In [60]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeRegressor
from xgboost import XGBClassifier
from sklearn.metrics import *
from sklearn.tree import DecisionTreeClassifier

In [61]:
train = pd.read_csv('data/train.csv', names=list(map(str, range(56))))
test = pd.read_csv('data/test.csv', names=list(map(str, range(55))))

In [62]:
train.head()

,0,1,2,3,4,5,6,7,8,9,...,46,47,48,49,50,51,52,53,54,55
0,447095,3452,111,22,433,214,3677,252,210,74,...,0,0,0,0,0,0,0,1,0,0
1,113427,3093,95,9,124,7,4115,234,227,124,...,0,0,0,0,0,0,0,0,0,1
2,66435,2551,61,17,90,5,726,231,202,98,...,0,0,0,0,0,0,0,0,0,1
3,8957,2944,135,3,430,13,1868,224,238,149,...,0,0,0,0,0,0,0,0,0,1
4,434631,3030,327,34,277,101,1973,120,181,190,...,0,1,0,0,0,0,0,0,0,1

In [63]:
test.head()

,0,1,2,3,4,5,6,7,8,9,...,45,46,47,48,49,50,51,52,53,54
0,258918,2352,293,23,256,45,201,151,228,215,...,0,0,0,0,0,0,0,0,0,0
1,258134,2790,88,8,330,35,1400,232,227,128,...,0,0,0,0,0,0,0,0,0,0
2,165265,2826,115,7,162,24,1020,232,233,134,...,0,0,0,0,0,0,0,0,0,0
3,522141,3234,137,16,150,20,968,243,232,112,...,0,0,0,0,0,0,0,0,0,0
4,569662,2810,58,22,124,25,3293,230,188,80,...,0,0,0,0,0,0,0,0,0,0

In [64]:
cols = list(train.columns)

In [65]:
features_cols = cols[1:-1]

In [66]:
X = train[features_cols]
y = train['55']

In [67]:
X.shape

(406709, 54)

In [68]:
y.shape

(406709,)

In [69]:
train_x, val_x, train_y, val_y = train_test_split(X, y, random_state=4, test_size=0.2)

In [70]:
train_x.shape

(325367, 54)

In [71]:
val_x.shape

(81342, 54)

In [72]:
train_y.shape

(325367,)

In [73]:
val_y.shape

(81342,)

In [74]:
def experiment(model):
    model.fit(train_x, train_y)
    yhat = model.predict(val_x)
    print("Accuracy Score: {0}, ROC AUC Score: {1}".format(accuracy_score(yhat, val_y),roc_auc_score(yhat, val_y)))

In [75]:
def outputCSV(model,modelName):
    test_feats = test[features_cols]
    test_y = model.predict_proba(test_feats)
    zero_high = test_y[:, 0]
    one_high = test_y[:, 1]
    ids = test['0']
    test_pred_0 = pd.Series(zero_high)
    test_pred_1 = pd.Series(one_high)
    df = pd.DataFrame.from_items([('key', ids), ('score', test_pred_1)])
    print(df.head())
    df.to_csv('test-outputs/'+modelName+'-col1.csv', index=False)
    print("Check File: test-outputs/"+modelName+'-col1.csv')

In [58]:
#svc = SVC()
#experiment(svc)
#outputCSV(svc, "SVC")

In [76]:
dtc = DecisionTreeClassifier()
experiment(dtc)
outputCSV(dtc, "DTC")

Accuracy Score: 0.9409776007474613, ROC AUC Score: 0.9409209549556895

/home/parv/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: FutureWarning: from_items is deprecated. Please use DataFrame.from_dict(dict(items), ...) instead. DataFrame.from_dict(OrderedDict(items)) may be used to preserve the key order.
  if __name__ == '__main__':

      key  score
0  258918    1.0
1  258134    1.0
2  165265    1.0
3  522141    1.0
4  569662    1.0
Check File: test-outputs/DTC-col1.csv

In [82]:
logreg = LogisticRegression()
experiment(logreg)
outputCSV(logreg, "LogisticRegression")

/home/parv/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: FutureWarning: from_items is deprecated. Please use DataFrame.from_dict(dict(items), ...) instead. DataFrame.from_dict(OrderedDict(items)) may be used to preserve the key order.
  if __name__ == '__main__':

      key     score
0  258918  0.105956
1  258134  0.938976
2  165265  0.792922
3  522141  0.164367
4  569662  0.357243
Check File: test-outputs/LogisticRegression-col1.csv

In [83]:
xgbc = XGBClassifier()
experiment(xgbc)
outputCSV(xgbc, "XGBoost")

/home/parv/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: FutureWarning: from_items is deprecated. Please use DataFrame.from_dict(dict(items), ...) instead. DataFrame.from_dict(OrderedDict(items)) may be used to preserve the key order.
  if __name__ == '__main__':

      key     score
0  258918  0.089401
1  258134  0.767378
2  165265  0.826216
3  522141  0.283424
4  569662  0.711646
Check File: test-outputs/XGBoost-col1.csv